@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  /* background-color: salmon; */
  background-color: rgb(114, 180, 250);
  font-family: 'Permanent Marker', cursive;
}
